.Erc20 {
  text-align: center;
}

.Erc20-logo {
  animation: Erc20-logo-spin infinite 20s linear;
  height: 80px;
}

.Erc20-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Erc20-intro {
  font-size: large;
}

@keyframes Erc20-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
